[Desktop Entry]
Encoding=UTF-8
Name=Rio
Comment=Simple REST api client
Icon=rio
Exec=rio
Terminal=false
Type=Application
Categories=Development;Network;
GenericName=Rio

Comment[ru]=Простой REST Api клиент
Comment[uk]=Простий REST Api кліент
