Package: http-inspector
Version: @version@
Maintainer: Skorobogatko Alexei <skorobogatko.alexei@gmail.com>
Description: The application is for sending and analyzing HTTP requests.
 This application allows you to send an http request and view the response.
 It's like curl but with GUI.
Section: net
Priority: optional
Architecture: @arch@
Installed-Size: @size@
Homepage: https://github.com/skoro/http_inspector

