Package: rio
Version: @version@
Depends: @depends@
Maintainer: Skorobogatko Alexei <skorobogatko.oleksii@gmail.com>
Description: Rio is a cross-platform REST client, available for Windows and Linux.
Section: net
Priority: optional
Architecture: @arch@
Installed-Size: @size@
Homepage: https://github.com/skoro/rio

