Package: rio
Version: @version@
Depends: @depends@
Maintainer: Skorobogatko Alexei <skorobogatko.oleksii@gmail.com>
Description: Simple REST Api client.
Section: net
Priority: optional
Architecture: @arch@
Installed-Size: @size@
Homepage: https://github.com/skoro/rio

